<!DOCTYPE html>

<!-- 
	Copyright 2022 Robert Marmorstein, Beth Marmorstein, and Donna Marmorstein

	This file is part of Photle.

	Photle is free software: you can redistribute it and/or modify it under the
	terms of the GNU General Public License as published by the Free Software
	Foundation, either version 3 of the License, or (at your option) any later
	version.

	Photle is distributed in the hope that it will be useful, but WITHOUT ANY
	WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
	A PARTICULAR PURPOSE. See the GNU General Public License for more details.
	You should have received a copy of the GNU General Public License along with
	Photle. If not, see <https://www.gnu.org/licenses/>.
-->

<html lang=en>
	<head>
		<meta charset=utf-8 />
		<meta name=viewport content="width=device-width, initial-scale=1.0" />
		<title>Photle</title>
		<link rel=stylesheet href={{url_for('static', filename='style.css')}} />
		<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
		<script type="text/javascript" src="{{url_for('static', filename='photle.js')}}"></script>
		<script>function game() 
		{ 
						setup({{wordnum}}); 
		}
		$(game);
		</script>
	</head>
	<body>
		<header id="banner">
			<h1>Photle<span id="beta">(Beta)</span></h1>
			<div id="instructions">
				<h2>Instructions</h2>
				<p>Welcome to Photle! Below is an image that can be described using a
				five letter word.  Try to guess the word in six tries or less!
				Each time you enter a guess, we will reveal more of the image.</p>
			</div>
		</header>
		<div id="game_window">
			<img id="photle" src="" alt="Secret Photle Image" />
			<div id="game">
				<p id="warning">Guesses must be five letter words.</p>
				<form id="submission" action="/submit" method=POST enctype=multipart/form-data>
					Guess: <input id=word name=word autocomplete=off autofocus=on />
					<input type=submit />
				</form>
			</div>
		</div>
		<div id="guess_box">
			<p>Word Number: <span id="number"></span><p>
			<h2>You have guessed:</h2>
			<ul id="guesses">
			</ul>
			<p id="win">Congratulations, you got it!<br/><br/><a id="share" href="javascript:share()">Copy your result to clipboard</a><br/><br/><a href="/">Play again?</a></p>
			<p id="lose">Sorry, you took too many tries!<br/><br/><span id="reveal">Click here to reveal the secret word.<br/></span><span id="hidden">The secret word was:</span><br/><a href="/">Try another?</a></p>
		</div>

		<footer>
			Photle &copy; 2022 Robert, Beth, and Donna Marmorstein.  All photographs used by permission.<br/>
			Contribute to Photle: <a href="https://gitlab.com/atomopawn/photle">https://gitlab.com/atomopawn/photle</a><br/>
			Or <a href="/submit">Suggest Images</a>!
		</footer>
	</body>
</html>
