<!DOCTYPE html>

<!-- 
	Copyright 2022 Robert Marmorstein, Beth Marmorstein, and Donna Marmorstein

	This file is part of Photle.

	Photle is free software: you can redistribute it and/or modify it under the
	terms of the GNU General Public License as published by the Free Software
	Foundation, either version 3 of the License, or (at your option) any later
	version.

	Photle is distributed in the hope that it will be useful, but WITHOUT ANY
	WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
	A PARTICULAR PURPOSE. See the GNU General Public License for more details.
	You should have received a copy of the GNU General Public License along with
	Photle. If not, see <https://www.gnu.org/licenses/>.
-->

<html lang=en>
	<head>
		<meta charset=utf-8 />
		<meta name=viewport content="width=device-width, initial-scale=1.0" />
		<title>Submit an Image to Photle</title>
		<link rel=stylesheet href={{url_for('static', filename='style.css')}} />
		<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js" ></script>
	</head>
	<body>
		<header id="banner">
		   <h1>Photle<span id="beta">(Beta)</span></h1>
			<div id="instructions">
				<h2>Instructions</h2>
				<p>To submit an image to Photle, enter your e-mail address and then
				attach one or more files.  All files should be named using the syntax
				<em>word.png</em>.</p>

				<p>Your photo will not appear in the game until it has
				been approved.  Please only submit photos you have personally taken and
				own the copyright to.  By uploading a photo to this web site, you are
				granting Photle the right to use, modify, display, and republish it.</p>
			</div>
		</header>
		<article id="game_window">
			{% for m in get_flashed_messages() %}
			<span class=message>{{m}}</span><br/>
			{% endfor %}
			<div id="upload_page">
				<form id="submission" action="/upload" method=POST enctype=multipart/form-data>
					<label for=email>E-mail address:</label><input id=email name=email type=email /><br/>
					<input id=files name="files[]" type=file multiple /><br/>
					<input type=submit />
				</form>
			</div>
		</article>
		<footer>
			&copy; Robert, Beth, and Donna Marmorstein 2022
		</footer>
	</body>
</html>
