/*
 * Copyright 2022 Robert Marmorstein, Beth Marmorstein, and Donna Marmorstein
 * This file is part of Photle.
 *
 * Photle is free software: you can redistribute it and/or modify it under the
 * terms of the GNU General Public License as published by the Free Software
 * Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * Photle is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
 * A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License along with
 * Photle. If not, see <https://www.gnu.org/licenses/>.
 */

* {
   box-sizing: border-box;
}

a:visited {
	text-decoration: none;
  color: #505050;
}

a {
	text-decoration: none;
  color: #705050;
}

body {
   background-color: rgb(220, 180, 150);
	 display: flex;
	 flex-wrap: wrap;
}

#guesses {
	font-size: 16pt;
}

#photle {
   width: 4in;
   height: 4in;
	 margin: 0 auto;
}

#warning {
   display: inline-block;
   color: red;
}

#banner {
   color: #505050;
   font-size: 24pt;
   font-weight: bold;
   text-align: center;
}

#game {
	font-size: 16pt;
	display: block;
	width: fit-content;
	margin: 0 auto;
}

#submission {
	display: block;
	width: fit-content;
	margin: auto;
}

#game_window {
   display: inline-block;
	 width: 40%; 
	 text-align: center;
	 margin: 0 auto;
}

#guess_box {
   width: 40%;
   display: inline-block;
	 margin: 0 auto;
	 flex-grow: 2;
}

@media only screen and (max-width: 700px) {
   #guess_box {
      display: block;
      width: 100%;
   }
	 #game_window {
			display: block;
			width: 100%;
			margin: 0 auto;
	 }
}

#banner {
   margin: 0 auto;
   margin-bottom: 1em;
}

#lose {
   color: green;
   font-size: 18pt;
   width: 100%;
}

#win {
   color: green;
   font-size: 18pt;
   width: 100%; 
}

#instructions {
   margin: 0 auto;
   /*margin-bottom: 1em;*/
   padding: 0;
   width: 100%;
   box-shadow: 5px 5px; 
   text-align: center;
   font-size: 16pt;
   border: solid #505050 5px;
   background-color: rgb(220,200,150);
   color: #505050;
}

#instructions:hover {
	font-size: 24pt;
}

h1, h2 {
   margin: 0;
   padding: 0;
}

footer {
   display: inline-block;
   font-style: italic;
   font-size: 12pt;
   text-align: center;
   width: 100%;
}

#beta {
	color: purple;
	font-size: 16pt;
	font-style: italic;
}

.message {
	color: red;
	font-size: 16pt;
	text-align: center;
}

#hidden {
	color: purple;
	border: 2px solid #505050;
	padding: 2px;
}

#share {
	border: 2px solid #505050;
	padding: 2px;
}

#reveal {
	color: purple;
	border: 2px solid #505050;
	padding: 2px;
}

#submission input {
	margin: 1em;
	text-align: left;
}
